<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="large-cta-banner"
></script>

<style>
    .large-cta-banner--container {
      background-color: {{ section.settings.background_color }};
    }
	.large-cta-banner--container .section--title {
		color: {{ section.settings.title_color }}
	}
	.large-cta-banner--container .section--title span {
		color: {{ section.settings.sub_title_color }}

	}

  </style>

{% comment %}
  Assign content variable defaults
{% endcomment %}
{% assign title = section.settings.title %}
{% assign sub_title = section.settings.sub_title %}
{% assign button_text = section.settings.button_text %}
{% comment %}
  Loop thru blocks and if `text` matches the locale's code, update content variables
  NOTE: `text` was used as an id rather than `iso_code` so that Shopify would use the code as the blocks title.
    See https://shopify.dev/docs/themes/architecture/sections/section-schema#show-dynamic-block-titles-in-the-theme-editor
{% endcomment %}
{% for block in section.blocks %}
  {% if block.settings.text == localization.country.iso_code %}
    {% if block.settings.locale_title != blank %}
      {% assign title = block.settings.locale_title %}
    {% endif %}
    {% if block.settings.locale_sub_title != blank %}
      {% assign sub_title = block.settings.locale_sub_title %}
    {% endif %}
    {% if block.settings.locale_button_text != blank %}
      {% assign button_text = block.settings.locale_button_text %}
    {% endif %}
    {% break %}
  {% endif %}
{% endfor %}


<section class="large-cta-banner--container">
	
		<div class="large-cta-banner--wrap">
			<div class="large-cta-banner--content">
				{% if title != blank %}
					<h2 class="section--title">
						{{title}}
					{% if sub_title != blank %}
						<span>{{ sub_title | escape }}</span>
					{% endif %}
					</h2>
				{% endif %}
				{% if button_text != blank and section.settings.button_link != blank %}
					<a href="{{section.settings.button_link}}" class="button">{{ button_text | escape }}</a>
				{% endif %}
			</div>
			<div class="large-cta-banner--image">
				{%
					include 'rimg',
					img: section.settings.image,
					class: 'image',
					size: '967x600',
					lazy: true,
					canvas: true
				%}
			</div>
		</div>

</section>

{% schema %}
{
  "name": "Large CTA Banner",
  "class": "large-cta-banner--section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "The Office Wellbeing Experts"
    },
    {
      "id": "title_color",
      "type": "color",
      "label": "Title colour",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title",
      "default": "Experts"
    },
    {
      "id": "sub_title_color",
      "type": "color",
      "label": "Sub Title colour",
      "default": "#C2DA9B"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link"
    },
	  {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#284634"
    },
	  {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "position",
      "label": "Position",
      "info": "Adjust the focal point of the image. Note: This setting will not have much of an impact if your background image's dimensions are roughly the same size as the section.",
      "options": [
        {
          "label": "Top left",
          "value": "top left"
        },
        {
          "label": "Top center",
          "value": "top center"
        },
        {
          "label": "Top right",
          "value": "top right"
        },
        {
          "label": "Center left",
          "value": "center left"
        },
        {
          "label": "Center",
          "value": "center center"
        },
        {
          "label": "Center right",
          "value": "center right"
        },
        {
          "label": "Bottom left",
          "value": "bottom left"
        },
        {
          "label": "Bottom center",
          "value": "bottom center"
        },
        {
          "label": "Bottom right",
          "value": "bottom right"
        }
      ],
      "default": "center center"
    }
  ],
  "blocks": [
    {
      "type": "localized_content",
      "name": "Localized Content",
      "settings": [
        {
          "id": "text",
          "type": "text",
          "label": "Country ISO Code"
        },
        {
          "type": "text",
          "id": "locale_title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "locale_sub_title",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "locale_button_text",
          "label": "Button text"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Large CTA Banner"
    }
  ]
}

{% endschema %}