<script
  type="application/json"
  data-section-type="static-featured-header"
  data-section-id="{{ section.id }}">
</script>

{% if section.settings.show_featured_header %}
  <div class="featured-header-container">
    <div class="featured-header">
		<div class="img-left">
			{% if section.settings.image_left_link %}
			<a href="{{section.settings.image_left_link}}">
			{% endif %}
				{% if section.settings.image_left %}
				{%
					include 'rimg',
					img: section.settings.image_left,
					size: '436x',
				%}
				{% endif %}
			{% if section.settings.image_left_link %}
			</a>
			{% endif %}
		</div>
		<div class="img-right">
			{% if section.settings.image_right_link %}
			<a href="{{section.settings.image_right_link}}">
			{% endif %}
				<div class="desktop">
					<img src="{{ section.settings.image_right_desktop | img_url: '896x436', crop: crop }}"/>
				</div>
				<div class="mobile">
					<img src="{{ section.settings.image_right | img_url: '436x436', crop: crop }}"/>
				</div>
			{% if section.settings.image_right_link %}
			</a>
			{% endif %}
		</div>
    </div>
  </div>
{% endif %}


{% schema %}
{
  "name": "Featured Header",
  "class": "featured-header--section",
  "settings": [
    {
      "id": "show_featured_header",
      "type": "checkbox",
      "label": "Enable featured header",
      "default": true
    },
	{
      "id": "image_left",
      "type": "image_picker",
      "label": "image left"
    },
	{
      "id": "image_left_link",
      "type": "url",
      "label": "image left link"
    },
	{
      "id": "image_right_desktop",
      "type": "image_picker",
      "label": "image right desktop"
    },	
	{
      "id": "image_right",
      "type": "image_picker",
      "label": "image right mobile"
    },
	{
      "id": "image_right_link",
      "type": "url",
      "label": "image right link"
    }
  ]
}

{% endschema %}

